*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #172A3A;
    text-align: center;
    color: white;
    padding: 20px;
}

table{
    border: 4px solid #FBAF00;
    width: 100%;
}

th{
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 1.25rem;
}

tbody{
    font-size: 0.75rem
}

tbody tr:nth-child(even) {
    background-color: #FBAF00;
}

#input-field{
    width: 100%;
}

footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 44px;
    margin-top: 447px;
    font-size: 38px;
}

#product-form {
    width: 80%;
    max-width: 600px; 
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


#product-form input {
    display: block; 
    width: calc(100% - 22px); 
    margin: 10px 0; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
}


#add-product-btn {
    background-color: #172A3A; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 4px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#add-product-btn:hover {
    background-color: #2e6897;
}
        
